<div id="add-animation">
  <h2>Expert Talks and seminars</h2>
  <div id="text-content">
Personality Development Activities: <br> <br>
Personality Development Program is an integral part of the curricular at BPIT <br> <br>
A.   PDP classes: Personality Development classes are regularly conducted for the students of all the batches B.Tech & MBA. The endeavor is to enhance their employability skills and to make them working for industry. <br> <br>
B.   Workshops: Regular in house workshops on Personal Grooming, Interview Skills and Placement Preparations are organized: <br> <br>
1.    Campus To Corporate Workshop During Summer Vacations & Winter Vacations <br>
<b>Modules Covered:</b> <br>
 SOFT SKILLS
<ul>
  <li>Communication Skills</li>
  <li>Group Discussions</li>
  <li>Role Plays</li>
  <li>Situational Conversations</li>
  <li>Resume Writing</li>
  <li>Technical & Personal Interview</li>
  <li>Resume Writing and many more…</li>
</ul>

 QUANT CLASSES

 <ul>
   <li>Logical Reasoning</li>
   <li>Verbal Ability</li>
   <li>Quantitative Aptitude</li>
 </ul>

 <br> <br>

C.Training Program: Value Added Training Program and Guest Lectures / Seminar <br>


 ~ In House Summer Training is planned for second and third year students on c, c++, java, advanced java, dot net & php <br>

Date: 15th June, 2015 onwards <br> <br>

~ Personality Development workshop for second and third year students <br>

Date: 6th January, 2015 to 14th January, 2015 <br> <br>

~ Seminar by Quant’s Solutions for third year students <br>

Date: 17th Oct, 2014 <br> <br>

~ Seminar by Intel for all I to IV year students <br>

Date: 10th Sep, 2014 <br> <br>

~ Seminar by IACM and Franklin Covey for CS / IT 2nd & 3rd year students <br>

Date: 23rd July, 2014 <br> <br>

~ Industrial Training for CSE & IT students by RCPL Noida in Association with HP <br>

Date: 16th June, 2014 onwards <br> <br>

~ Industrial Training for 2nd & 3rd year ECE Students by XINOE Systems <br>

Date: 16th June, 2014 onwards <br> <br>

~ Seminar by TAPP for 3rd & 4th year CSE Students for Entrepreneurship Opportunities <br>

Date: 22nd May, 2014 <br> <br>

~ Expert Talk by Director HR of Dell <br>

Date: 25th Nov, 2013 <br> <br>

~ SAP Global certification exam for MBA Students <br>

Date: 21st Nov, 2013 <br> <br>

~ Workshop by Aptech for 1st to 3rd year students <br>

Date: 22nd Oct, 2013 <br> <br>

~ SAP training for MBA students at BPIT <br>

Date: 9th Oct, 2013 - 26th Oct, 2013 <br> <br>

~ "EXPERT TALK” BY RAJAT SIKKA FROM <br>

Date: 7th Oct, 2013 <br> <br>

~ "Idea to Execution workshop by E-Cell of BPIT <br>

Date:  28th Sep, 2013 <br> <br>

~ Amcat Employability Test for final year students <br>

Date: 6th & 7th Sep, 2013 <br> <br>

~ Seminar on Sap Technology by Dexler information Pvt Ltd <br>

Date:  5th Sep, 2013 <br> <br>

~ Seminar by IMS for final year students on Employability skills <br>

Date: 3rd Sep, 2013 <br> <br>

~ Seminar by Mnemonics Education on the various options to pursue further education abroad <br>

Date: 13th Aug, 2013 <br> <br>

~ Training on Linux, Unix & Networking by Indohora for Final Year students <br>

Date: 7th Mar, 2013 – 15th Mar, 2013 <br> <br>

~ Seminar by Dkop Labs on VLSI for ECE - Pre Final year <br>

Date:  5th March, 2013 <br><br>

~ AMCAT assessment by Aspiring minds for Final Year students <br>

Date: 16th Feb, 2013 <br> <br>

~ Wheebox Employability Skill Test for Pre Final year students <br>

Date: 13th Feb, 2013 <br> <br>

~ Wheebox Employability Skill Test for Final year students <br>

Date: 11th Feb, 2013 <br> <br>

~ Gate Scholarship Test & Seminar by Gate forum for Final year students <br>

Date: 30th Jan, 2013 <br> <br>
  </div>
</div>
