<div id="add-animation">
  <h2>Library</h2>
  <div class="slideshow"></div>
  <p id="text-content">BPIT library is fully air-conditioned with the state of art facilities, spacious reading rooms, separate computer rooms for students and faculty and a rich collection of books and periodicals including e-journals. It is fully automated and Wi-Fi enabled with online reprography facility.</p>
  <p id="text-content">
    BPIT being a member of J-Gate, Emarald and IEEE has access to full ASSP package of 145 e-journals. The library remains open beyond institute timings.
  </p>
</div>
