 <div class="box">
     <div class="add-button">
        <button class="btn btn-success circle" data-target="#addModal" data-toggle="modal">
             <i class="glyphicon glyphicon-plus"></i>
        </button>
     </div>
    <!-- display notices -->
     <div class="display">
       <div class="text-center">
        <loader [condition]="loader || submitProgress" class="centerLoader"></loader>
       </div>
     </div>
</div>  
 
<!-- add modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Add Study Material
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div class="modal-body">
        <form [formGroup]="material">
            <div class="form-group">
                <label for="title">MCQ</label>
                <input type="file" id="title" formControlName="MCQ" (change)="getFile($event)">
            </div> 
            <div class="form-group">
                <label for="title">Assignment</label>
                <input type="file" id="title" formControlName="Assignment" (change)="getFile($event)">
            </div>
            <div class="form-group">
                <label for="title">Question Paper</label>
                <input type="file" id="title" formControlName="QuestionPaper" (change)="getFile($event)">
            </div>
            <div class="form-group">
                <label for="title">Presentation</label>
                <input type="file" id="title" formControlName="presentation" (change)="getFile($event)">
            </div>
        </form>
    </div> 
        <div class="modal-footer">
            <button type="button" (click)="materialSubmit()" class="btn btn-default">Submit</button>          
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Success
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h4>You have successfully added the notice</h4>
      </div>
    </div>
  </div>
</div> 