<app-nav></app-nav>
<div class="contact-wrap container">
  <h2 id="clr">
    <i class="fa fa-phone-square" aria-hidden="true"></i>
    Contact Us
  </h2>
  <hr>
  <h1>BHAGWAN PARSHURAM INSTITUTE OF TECHNOLOGY</h1>
  <p>PSP- 4, Dr. K.N. Katju Marg , Sector 17 Rohini</p>
  <p>New Delhi -110089</p>
  <p>Tel: 011 - 27572900 , 27571080 </p>
  <p> 011 - 27574635 , 27574637 (10 lines)</p>
  <p>Fax: 011-27574642 </p>
  <p>Email: bpitindia@yahoo.com</p>
  <p>Website: http://www.bpitindia.com</p>
</div>

<app-foot></app-foot>
