@import "src/styles.scss";

a{
  cursor: pointer;
}

.head-bar{
  padding: 5px;
  box-sizing: border-box;
  .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.search{
  i,span{
    font-size: 16px;
  }
  i{
    margin-right: 10px;
  }
}

.top-bar{
  .container{
    .wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .names{
      p{
        margin: 0;
      }
    }
    .branding{
      display: flex;
      align-items: center;
      .logo{
        width: 40px;
        height: 40px;
        border-bottom: 5px solid #FF5858;
        border-right: 5px solid #FF5858;
        .box{
          background: $primary;
          width: 30px;
          height: 30px;
        }
      }
      .logotype{
        font-family: 'Montserrat',sans-serif;
        margin-left: 15px;
        h1{
          margin: 0;
          font-size: 30px;
          line-height: 30px;
          font-weight: 700;
        }
      }
    }
  }
}

.nav-bar{
  border-bottom: 1px solid #eee;
  .container{
    padding-top: 5px;
    .wrap{
      display: flex;
      justify-content: space-between;
      a{
        transition: $trans;
        padding: 5px;
        font-weight: 400 !important;
      }
      a:hover{
        color: #000;
        box-shadow: 0 5px 0 -2px $primary;
      }
    }
  }
}

.drop{
  display: none;
  min-width: 150px;
  width: auto;
  max-width: 50vh;
  border: 1px solid #aaa;
  position: absolute;
  background: #fff;
  z-index: 50;
  margin-top: 5px;
  margin-left: -5px;
  animation: $reveal;
  a{
    display: block;
  }
  a:hover{
    background: $secondary;
    color: #fff !important;
    box-shadow: 0 0px 0 -2px $primary !important;
  }
}

.wrap>a:hover{
  .drop{
    display: block;
    .lvl2{
      display: none;
      min-width: 150px;
      width: auto;
      max-width: 50vh;
      border: 1px solid #aaa;
      position: absolute;
      background: #fff;
      z-index: 50;
      margin-top: -26px;
      margin-left: 0px;
      a{
        color: #555 !important;
      }
      a:hover{
        color: #fff !important;
      }
    }
    a:hover{
      .lvl2{
        display: block;
        left: 100%;
      }
    }
  }
}

.bigone{
  min-width: 50vh !important;
}
