<div id="add-animation">
  <h2>Societies</h2>
<div class="technical">
  <div class=" ">
    <div class="heading">HACKIONS</div>
    <div class="slideshow"></div>
    <div class="content">
      There is nothing like the thrill of solving a real life problem that enhances the lives of others.The intent of Hackions, the programming club of Bhagwan Parshuram Institute of Technology, is to give every opportunity to experience that thrill.
    </div>
  </div>

  <div class=" ">
    <div class="heading">INFUSIA</div>
    <div class="slideshow"></div>
    <div class="content">
      Infusia, the entrepreneurship cell of Bpit, aims to help entrepreneurial passions to convergeon a common stage.
    </div>
  </div>
  
  <div class=" ">
    <div class="heading">EFFERVESCENCE</div>
    <div class="slideshow"></div>
    <div class="content">The bilingual literary society of the institute provides a space that fosters various forms of intellectual discussions as well as unique and stimulating social experiences.</div>
  </div>
</div>

<div class="cultural">
    <div class=" ">
    <div class="heading">ZARIA</div>
    <div class="slideshow"></div>
    <div class="content">The world just nedds a little help!<br>The name illustrates the very mission, extending a guiding hand to help people walk their first step towards obtaining the social, emotional, financial needs and skills required</div>
  </div>  

  <div class=" ">
    <div class="heading">CHROMAVITA</div>
    <div class="slideshow"></div>
    <div class="content">
      With the aim to let students explore their creative facets, the society helps them in acquiring new qualities, enabling them to grow socially as well as mentally.Participation in art society ensures that students step out of their academic shoes and step into artistic ones.
    </div>
  </div>  

  <div class=" ">
    <div class="heading">Avaran</div>
    <div class="slideshow"></div>
    <div class="content">
      Avaran, the dramatics society of the institute names itself from aveil of happiness, ignorance and shadows that cover all truths of life, thus becoming the cloth that wears the fire to light the torch of acknowledgement.
    </div>
  </div>

  <div class=" ">
    <div class="heading">OCTAVE</div>
    <div class="slideshow"></div>
    <div class="content">Music is an art that connects our hearts!<br>Music is the most pious essence in the world, capable of healing the sorest wound. It helps us relate ourselves to tha almighty, thereby giving the human mind access to the realm of spirituality.</div>
  </div>

  <div class=" ">
    <div class="heading">MAVERICS</div>
    <div class="slideshow"></div>
    <div class="content">Maverics is the dance society of the institute, initiated in 2012. Encompassing all forms of dance, the society believes in engaging the dancer not only in technique based training but also finer nuances like expressing and breathing from soul, and inspiring them through the medium of dance.</div>
  </div>

    <div class=" ">
    <div class="heading">PANACHE</div>
    <div class="slideshow"></div>
    <div class="content">
      With the ability to mould a perfect model out of any individual, the society puts its hard work and determination to ignite the spark within and doesn't step back from experimenting anything new in fashion.
    </div>
  </div>
</div>
</div>
