<div id="add-animation">
  <h2>Laboratories</h2>
  <div class="slideshow"></div>
  <p id="text-content">The department has the following eight laboratories; and each laboratory is equipped with 30 desk top computers, loaded with latest hardware and software.</p>
  <ul id="text-content">
    <li>Database Lab</li>
    <li>Computer Networks Lab.</li>
    <li>Software Engineering Lab.</li>
    <li>Computer Programming Lab.</li>
    <li>Computer Graphics Lab.</li>
    <li>Linux Lab.</li>
    <li>Project Lab.</li>
  </ul>
</div>
