<div id="add-animation">
  <h2>Girl's Hostel</h2>
  <div class="slideshow"></div>
  <p id="text-content">Considering the constraints of girls coming from far locations in Delhi or from outside Delhi, the BBCT-trustees constructed a double seated Hostel for 128 girl students which was inaugurated on 20th July, 2011 by Prof. D.K. Bandopadhyay, Vice Chancellor, GGSIPU, Delhi in the presence of Shri P.K. Tripathi, Chief Secretary, Government of National Capital of Delhi as the chief guest. The Hostel is fully furnished and has 24x7 security. The Hostel also has all modern amenities for a decent stay and study.</p>
</div>
